-e git+ssh://git@gitlab2.informatik.uni-wuerzburg.de/ocr4all-page-segmentation/bayesnet.git#egg=bayesian-page-segmentation
Pillow
numpy
scipy
scikit-image
tqdm
opencv-python-headless
dataclasses
efficientnet
lxml
ocr4all-pylib>=0.2.0
tensorflow>=2.0.0
